!-------------------------------------------
! XFT Settings
     
Xft.antialias:  true 
Xft.autohint:   false 
Xft.dpi:        118
Xft.hinting:    true 
Xft.hintstyle:  hintfull 
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

!-------------------------------------------
! URXVT - Settings

URxvt*depth:                        32
URxvt*internalBorder:               4
URxvt*dynamicColors:                on
URxvt*urgentOnBell:                 true
URxvt*borderLess:                   false
URxvt*scrollBar:                    false
URxvt*cursorBlink:                  true
URxvt*cursorUnderline:              true
URxvt*cursorColor:                  #ffffff
URxvt*scrollColor:                  #151515
URxvt*underlineURLs:                true

! with NanumGothic
! URxvt*letterSpace:                  -6 

! with tamsyn
URxvt*letterSpace:                  0 

! Disable perl
!URxvt.perl-ext:                 
!URxvt.perl-ext-common: 

URxvt*font: xft:Tamsyn:style=Regular:pixelsize=16
URxvt*boldFont: xft:Tamsyn:style=Bold:pixelsize=16
!URxvt*font: xft:NanumGothic:style=Regular:pixelsize=13
!URxvt*boldFont: xft:NanumGothic:style=Bold:pixelsize=13
 
!--------------------------------------------
! URxvt Colors

URxvt.colorIT:                       #87af5f
URxvt.colorBD:                       #d7d7d7
URxvt.colorUL:                       #BF1E2D

!--------------------------------------------
! General Colors

*background:    #1a1815
*foreground:    #c1b683

! Black
*color0:    #393c2f
! DarkRed 
*color1:    #9f3a3a
! DarkGreen 
*color2:    #477B56 
! DarkYellow
*color3:    #bca976
! DarkBlue   
*color4:    #3d84a2
! DarkMagenta
*color5:    #674a5f 
! DarkCyan
*color6:    #318187
! Gray
*color7:    #eae9cd
! DarkGray
*color8:    #696b4f 
! Red | LighRed
*color9:    #c25454
! Green | LightGreen
*color10:    #528c42  
! Yellow | LightYellow
*color11:    #e4dfb8 
! Blue | LightBlue
*color12:    #53807a
! Magenta | LightMagenta
*color13:    #a48d83
! Cyan | LightCyan
*color14:    #7cdcd9 
! White
*color15:    #f7f5e8 

!-------------------------------------------
! Man pages colors

*VT100.colorBDMode:                  true
*VT100.colorBD:                      red
*VT100.colorULMode:                  true
*VT100.colorUL:                      magenta
*VT100.veryBoldColors:               6

!-------------------------------------------
! xclock

xclock*majorColor:                  #9a875f
xclock*minorColor:                  #9a875f
xclock*minuteColor:                 #9a875f
xclock*hourColor:                   #9a875f
xclock*secondColor:                 #9a875f

!-------------------------------------------
! rofi

rofi.lines:                         6
rofi.color-enabled:                 true
rofi.separator-style:               solid
rofi.width:                         39
rofi.color-normal:                  #141414,#965965,#141414,#9f3a3a,#a7a7a7
rofi.color-active:                  #141414,#e4dfb8,#141414,#e4dfb8,#a7a7a7
rofi.color-urgent:                  #141414,#7cdcd9,#141414,#7cdcd9,#a7a7a7
rofi.color-window:                  #141414,#9c3a3a,#1e2529
