!-------------------------------------------
! XFT Settings gre
     
Xft.antialias:  true 
Xft.autohint:   false 
Xft.dpi:        96
Xft.hinting:    true 
Xft.hintstyle:  hintfull 
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

!-------------------------------------------
! URXVT - Settings

URxvt*depth:                        32
URxvt*internalBorder:               3
URxvt*dynamicColors:                on
URxvt*urgentOnBell:                 true
URxvt*borderLess:                   false
URxvt*scrollBar:                    false
URxvt*cursorBlink:                  true
URxvt*cursorUnderline:              true
URxvt*cursorColor:                  #080708
URxvt*scrollColor:                  #151515
URxvt*underlineURLs:                true

! Disable perl
!URxvt.perl-ext:                 
!URxvt.perl-ext-common: 

URxvt*font: -*-dina-medium-r-*-*-*-100-*-*-*-*-*-*
URxvt*italic: -*-dina-medium-i-*-*-*-100-*-*-*-*-*-* 
 
!--------------------------------------------
! URxvt Colors

URxvt.colorIT:                       #00bb00
URxvt.colorBD:                       #aa0000
URxvt.colorUL:                       #552939

!--------------------------------------------
! General Colors

*background:    #e2eee0 
*foreground:    #3d3e44
*.cursorColor:  #2a2a20

!black
*color0: #666661
*color8: #7F7F7a
!red
*color1: #992e2e
*color9: #b23636
!green
*color2: #4c3226
*color10: #664233
!yellow
*color3: #a67c53
*color11: #bf8f60
!blue
*color4: #4c7399
*color12: #5986b2
!magenta
*color5:  #552939
*color13: #663144
!cyan
*color6: #266868
*color14:  #4a949c
!white
*color7:  #34302d
*color15: #4c4742

!-------------------------------------------
! Man pages colors

*VT100.colorBDMode:                  true
*VT100.colorBD:                      red
*VT100.colorULMode:                  true
*VT100.colorUL:                      cyan   
*VT100.veryBoldColors:               6

!-------------------------------------------
! xclock

xclock*majorColor:                  #9a875f
xclock*minorColor:                  #9a875f
xclock*minuteColor:                 #9a875f
xclock*hourColor:                   #9a875f
xclock*secondColor:                 #9a875f

!-------------------------------------------
! rofi

rofi.lines:                         6
rofi.color-enabled:                 true
rofi.separator-style:               solid
rofi.width:                         39
! rofi state:                        'bg'     'fg'   'bgalt' 'hlbg' 'hlfg'
rofi.color-normal:                  #e2eee0,#3d3e44,#e4e4e4,#4e2f36,#888688
rofi.color-active:                  #e2eee0,#3d3e44,#e4e4e4,#4e2f36,#888688
rofi.color-urgent:                  #e2eee0,#3d3e44,#e4e4e4,#4e2f36,#888688
rofi.color-window:                  #e2eee0,#3d3e44,#e4e4e4
