* {
    xbg:    #162b24;
    xfg:    #c6e1a6;
    x0:     #223830;
    x1:     #cac054;
    x2:     #5b8662;
    x3:     #e4de9f;
    x4:     #b56d5d;
    x5:     #996654;
    x6:     #4d745a;
    x7:     #e8f5e9;
    x8:     #3d544c;
    x9:     #d6ce7d;
    x10:    #d5e5c3;
    x11:    #ece8be;
    x12:    #d8b290;
    x13:    #cf7b60;
    x14:    #799b70;
    x15:    #ddc0a6;
}
