* {
    xbg:    #111111;
    xfg:    #eeeeee;
    x0:     #1f1f1f;
    x1:     #5896af;
    x2:     #bbf2e3;
    x3:     #94c4d8;
    x4:     #c8beff;
    x5:     #a093ff;
    x6:     #8debd2;
    x7:     #111111;
    x8:     #aeaeae;
    x9:     #73aac1;
    x10:    #000000;
    x11:    #444444;
    x12:    #222222;
    x13:    #e9e5ff;
    x14:    #e3faf5;
    x15:    #333333;
}
