* {
    xbg:    #20252c;
    xfg:    #cfd8dc;
    x0:     #222c36;
    x1:     #5e3a7b;
    x2:     #3d8e8e;
    x3:     #7c4790;
    x4:     #6e6b8f;
    x5:     #58527d;
    x6:     #2e8382;
    x7:     #e0f7fa;
    x8:     #b0bec5;
    x9:     #6c4086;
    x10:    #b2ebf2;
    x11:    #d8f5e9;
    x12:    #c8e6c9;
    x13:    #8685a1;
    x14:    #42a3a5;
    x15:    #e8f5e9;
}
